html {
  height: 100%;
  width: 100%;
  font-family: Eczar, serif;
}

body {
  height: 90%;
  width: 95%;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
  text-align: center;
  background-image: url(img/poke-background-full.png);
  background-size: 500px;
  background-position: center;
}

h1 {
  font-family: Oswald, serif;
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 40px;
  font-style: bold;
  text-shadow: 3px 3px 6px #6b6b6b;
}

h2 {
  font-family: Eczar, serif;
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 20px;
  font-style: bold;
  text-shadow: 3px 3px 6px #6b6b6b;
}

div {
  margin: 20px;
  width: 100%;
  border-color: black;
  border-style: none;
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

section {
  margin: 20px;
  border-color: black;
  border-style: none;
  /*background-color: rgba(255, 255, 255, 0.5);*/
}

section#bar {
  margin: 20px;
  padding: 0px;
  align-content: center;
}

#searchform {
  margin: auto;
  align-self: center;
  max-width: 300px;
}

* {
  box-sizing: border-box;
}

form.searchbar input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  position: inherit;
}

form.searchbar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #757575;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchbar button:hover {
  background: #424242;
}

form.searchbar:after {
  content: "";
  clear: both;
  display: table;
}

#data-output {
  font-family: Eczar, serif;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: 20px;
  padding: 20px;
  font-size: 20px;
  font-style: bold;
  text-shadow: 3px 3px 10px #000000;
  display: flex;
  flex-wrap: wrap;
}

.pokeDiv {
  background-color: rgba(255, 255, 255, 0.7);
  width: 200px;
  height: 240px;
  margin: 20px;
  padding: 20px;
  font-family: Quicksand, serif;
  border-radius: 40px;
}

.pokeDiv:hover {
  background-color: rgba(137, 216, 130, 0.7);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .7) 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  transition: background-size 1s, background-color 1s;
}