html {
  height: 100%;
  width: 100%;
  font-family: serif;
}
body {
  display:flex;
  height: 90%;
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0%;
  margin-bottom: auto;
  padding: 50px;
  background-image: url(img/poke-background-full.png);
  background-size: 500px;
  background-position: center;
  justify-content: center;
}


div#homebanner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}

div#count-div {
  display: flex;
  justify-content: space-around;
}

nav {
  display: flex;
  justify-content: space-around;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #379937;
}

footer {
  font-size: smaller;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

h1 {
  font-family: Oswald, serif;
  color: rgb(80, 80, 80);
  opacity: 1;
  font-size: 40px;
  font-style: bold;
  text-shadow: 3px 3px 10px #ffffff,
               -3px -3px 10px #ffffff;
  text-align: center;
}

h2 {
  font-family: Eczar, serif;
  color: rgb(80, 80, 80);
  opacity: 1;
  font-size: 20px;
  font-style: bold;
  text-shadow: 3px 3px 8px #ffffff,
               -3px -3px 8px #ffffff;
  text-align: center;
}

h3 {
  color: rgb(0, 0, 0);
  opacity: 1;
  font-size: 16px;

}

dialog {
  max-width: 500px;
  border-style: none;
  border-radius: 40px;
  font-family: Quicksand, serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

dialog::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(36, 36, 36, 0.3);
}

div .dialog-div {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.dialog-div#dialog-lower-div{
  display: inline;
  text-align: left;
}

dialog button {
  width: fit-content;
  align-self: center;
}


section#bar {
  margin: 10px;
  padding: 0px;
  align-content: center;
}

#searchform {
  margin: auto;
  align-self: center;
  max-width: 300px;
}

form.searchbar {
  margin: 10px;
}

form.searchbar input[type=text] {
  padding: 10px;
  font-size: 13px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  position: inherit;
}

form.searchbar button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #757575;
  color: white;
  font-size: 13px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.searchbar button:hover {
  background: #424242;
}

form.searchbar:after {
  content: "";
  clear: both;
  display: table;
}

.select {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  width: 200px;
  background: #f1f1f1;
  position: inherit;
}

#selectmenu {
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  border: 1px solid grey;
  width: 200px;
  background: #f1f1f1;
  position: inherit;
}
#selectmenu option {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  width: 200px;
  background: #f1f1f1;
  position: inherit;
}

#filtermenu {
  padding: 10px;
  margin: 10px;
  font-size: 12px;
  border: 1px solid grey;
  width: 200px;
  background: #f1f1f1;
  position: inherit;
}
#filtermenu option {
  padding: 10px;
  font-size: 12px;
  border: 1px solid grey;
  width: 200px;
  background: #f1f1f1;
  position: inherit;
}

#data-output {
  font-family: Eczar, serif;
  color: rgb(0, 0, 0);
  width: 100%;
  margin: auto;
  padding: auto;
  font-size: 20px;
  font-style: bold;
  text-shadow: 3px 3px 10px #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pokeLi {
  background-color: rgba(255, 255, 255, 0.8);
  width: 200px;
  height: 240px;
  margin: 20px;
  padding: 20px;
  font-family: Quicksand, serif;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}

.pokeLi:hover {
  background-color: rgba(137, 216, 130, 0.9);
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, .7) 100%);
  background-repeat: no-repeat;
  background-size: 200% 100%;
  transition: background-size 1s, background-color 1s;
}

.messages {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: fit-content;
  margin: auto;
  padding: 20px;
  font-family: Eczar, serif;
  border-radius: 40px;
}

#notfoundmessage {
  text-align: center;
}

#noinput {
  text-align:center;
}

/*.multipleSelection {
  width: 200px;
  margin: 10px;
  background-color: #f1f1f1;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  height: 100%;
  font-size: 12px;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px grey solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label input {
  font-family: serif;
}

#checkboxes label:hover {
  background-color: rgba(137, 216, 130, 1);
}

label.dropdown-option {
  font-size: 12px;
  font-weight: normal;
}*/